.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
data/Text/text__INABIO2025.csv
data/Text/text__GBIF2026.csv
data/Georreferencing/1.Raw/georef__INABIO2025.csv
data/Georreferencing/1.Raw/georef__GBIF2026.csv
data/Text/1_Raw/text__GBIF2026.csv
data/Text/1_Raw/text__INABIO2025.csv
